<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GameMachineServicesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="GameMachineServicesSoap1" />
        <binding name="GenericUtilitiesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="GenericUtilitiesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="UserServicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UserServicesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="CMSServicesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="CMSServicesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="ParafaitGatewaySoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="ParafaitGatewaySoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="ProductServicesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="RedemptionServicesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="RedemptionServicesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
        <binding name="CardServicesSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="CardServicesSoap1" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://playpassws.chuckecheese.com/GameMachineServices.asmx" binding="basicHttpBinding" bindingConfiguration="GameMachineServicesSoap" contract="GameMachineServices.GameMachineServicesSoap" name="GameMachineServicesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/GenericUtilities.asmx" binding="basicHttpBinding" bindingConfiguration="GenericUtilitiesSoap" contract="GenericUtilities.GenericUtilitiesSoap" name="GenericUtilitiesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/UserServices.asmx" binding="basicHttpBinding" bindingConfiguration="UserServicesSoap" contract="UserServices.UserServicesSoap" name="UserServicesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/CMSServices.asmx" binding="basicHttpBinding" bindingConfiguration="CMSServicesSoap" contract="CMSServices.CMSServicesSoap" name="CMSServicesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/ParafaitGateway.asmx" binding="basicHttpBinding" bindingConfiguration="ParafaitGatewaySoap" contract="ParafaitGateway.ParafaitGatewaySoap" name="ParafaitGatewaySoap" />
      <endpoint address="https://playpassws.chuckecheese.com/ProductServices.asmx" binding="basicHttpBinding" bindingConfiguration="ProductServicesSoap" contract="ProductServices.ProductServicesSoap" name="ProductServicesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/RedemptionServices.asmx" binding="basicHttpBinding" bindingConfiguration="RedemptionServicesSoap" contract="RedemptionServices.RedemptionServicesSoap" name="RedemptionServicesSoap" />
      <endpoint address="https://playpassws.chuckecheese.com/CardServices.asmx" binding="basicHttpBinding" bindingConfiguration="CardServicesSoap" contract="CardServices.CardServicesSoap" name="CardServicesSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>